@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Segoe';
    src: url('https://res.cloudinary.com/dvaav1gff/raw/upload/v1656159755/SegoeUI-VF_ibz9ya.ttf');
  }

  html {
    font-family: 'Segoe', 'Segoe UI', sans-serif;
  }
}

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px black;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px black;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}